{% load static %}
<div class="bg-smoke" data-pos-for=".footer-wrapper" data-sec-pos="bottom-half">
  <div class="container th-container3 z-index-common">
      <div class="row gx-10 th-carousel" data-slide-show="6" data-lg-slide-show="5" data-md-slide-show="4" data-sm-slide-show="3" data-xs-slide-show="2">
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_1.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_2.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_3.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_4.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_5.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_6.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_1.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_2.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_3.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_4.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_5.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
          <div class="col-auto">
              <div class="insta-box"><img src="{% static 'assets/img/update1/insta/insta_1_6.jpg' %}" alt="Instagram"> <a target="_blank" href="https://instagram.com/" class="icon-btn"><i class="fa-brands fa-instagram"></i></a></div>
          </div>
      </div>
  </div>
</div>
<footer class="footer-wrapper footer-layout6">
  <div class="widget-area">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-md-6 col-xxl-3 col-xl-4">
                  <div class="widget footer-widget">
                      <div class="th-widget-about">
                          <div class="about-logo"><a href="index.html"><img src="{% static 'logo/logo.png' %}" alt="London Seru"></a></div>
                          <p class="about-text">Continually optimize backward manufactured products whereas communities negotiate life compelling alignments</p>
                          <div class="th-social">
                              <h6 class="title text-white">FOLLOW US ON:</h6>
                              <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a> <a href="https://www.skype.com/"><i class="fab fa-skype"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-auto">
                  <div class="widget widget_nav_menu footer-widget style2">
                      <h3 class="widget_title">Courses</h3>
                      <div class="menu-all-pages-container">
                          <ul class="menu">
                            {% for pattern in footer_question_patterns %}
                              <li><a href="{% url 'core:quiz_details' pattern.id %}">{{pattern.name}}</a></li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-xl-3">
                  <div class="widget newsletter-widget footer-widget style2">
                      <h3 class="widget_title">Get in touch!</h3>
                      <p class="footer-text">Subscribe our newsletter to get our latest Update & news</p>
                      <form class="newsletter-form form-group"><input class="form-control" type="email" placeholder="Email Email" required=""> <i class="far fa-envelope"></i> <button type="submit" class="th-btn style3">Subscribe Now <i class="far fa-arrow-right ms-1"></i></button></form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-wrap">
      <div class="container">
          <div class="row justify-content-between align-items-center">
              <div class="col-lg-6">
                  <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2025 All Rights Reserved.</p>
              </div>
              <div class="col-lg-6 text-end d-none d-lg-block">
                  <div class="footer-links">
                      <ul>
                          <li><a href="about.html">Privacy Policy</a></li>
                          <li><a href="about.html">Terms of Use</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<div class="scroll-top">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
  </svg>
</div>