{% extends 'partials/base.html' %}

{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<div class="breadcumb-wrapper" data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}" data-overlay="title" data-opacity="8">
  <div class="breadcumb-shape" data-bg-src="{% static 'assets/img/bg/breadcumb_shape_1_1.png' %}"></div>
  <div class="shape-mockup breadcumb-shape2 jump d-lg-block d-none" data-right="30px" data-bottom="30px"><img
          src="{% static 'assets/img/bg/breadcumb_shape_1_2.png' %}" alt="shape"></div>
  <div class="shape-mockup breadcumb-shape3 jump-reverse d-lg-block d-none" data-left="50px" data-bottom="80px">
      <img src="{% static 'assets/img/bg/breadcumb_shape_1_3.png' %}" alt="shape"></div>
  <div class="container">
      <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title">Privacy Policy</h1>
          <ul class="breadcumb-menu">
              <li><a href="index.html">Home</a></li>
              <li>Privacy Policy</li>
          </ul>
      </div>
  </div>
</div>
<section class="space-top space-extra-bottom">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="event-details-wrap">
                  <h3 class="h3 mt-n2">What Soul Can Tech Us About Web Design</h3>
                  <p class="mb-30">Proactively enable reliable partnerships whereas process-centric
                      potentialities. Authoritatively integrate covalent vortals whereas virtual markets
                      Competently empower customized customer service with standards compliants infrastructures.
                      Energistically deliver integrated e-tailers after reliable technologies. Conveniently
                      customize dynamic architectures with high quality commerce Efficiently productize just in
                      time process improvements whereas transparent action items.</p>
                  <p class="mb-40">Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur
                      elit. Vesti at bulum nec odio aea the dumm ipsumm ipsum that dolocons rsus mal suada and
                      fadolorit to the consectetur elit. All the Lorem Ipsum generators on the Internet tend to
                      repeat that predefined chunks as necessary, making this the first true dummy generator on
                      the Internet. It uses a dictionary of over 200 Latin words, combined Lorem Ipsum looks
                      reasonable.Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit.
                      Vesti at bulum nec odio aea the dumm ipsumm ipsum that dolocons rsus mal suada and fadolorit
                      to the consectetur elit. All the Lorem Ipsum generators on the Internet tend to repeat that
                      predefined chunks as necessary, making this the first true dummy generator on the Internet.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
  </div>
{% endblock content %}