{% extends 'user/assets/base.html' %}

{% block title %}Attempt Answer{% endblock %}

{% load custom_filters %}

{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <h2 class="mb-3">Quiz Review</h2>
        <div class="row justify-content-center mb-4">
            <div class="col-md-6">
                <div class="card border-0 shadow-sm">
                    <div class="card-body py-4">
                        <p class="card-text"><strong>Subject:</strong> {{ subject_name }}</p>
                        <p class="card-text"><strong>Course Tier:</strong> {{ course_tier }}</p>
                        <p class="card-text"><strong>Points for Each Question:</strong> {{ points_for_each }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% for user_answer in user_answers %}
    <div class="col-md-6 mb-4">
        <div class="card shadow">
            <div class="card-body">
                <p class="mb-2"><strong>{{ user_answer.question.singlechoicequestion.question_text }}</strong></p>
                {% if user_answer.question.question_type == 'single_choice' %}
                    {% for option in user_answer.question.singlechoicequestion.options.all %}
                        <div class="custom-control custom-radio">
                            <input type="radio" id="option_{{ user_answer.question.id }}_{{ option.id }}" value="{{ option.option_text }}"
                                {% if user_answer.selected_answer == option.option_text %}checked{% endif %} class="custom-control-input" disabled>
                            <label class="custom-control-label
                                {% if user_answer.selected_answer == option.option_text and user_answer.selected_answer == option.option_text %} text-success
                                {% elif user_answer.selected_answer == option.option_text %} text-danger
                                {% elif option.is_correct %} text-success
                                {% endif %}"
                                for="option_{{ user_answer.question.id }}_{{ option.id }}">{{ option.option_text }}</label>
                        </div>
                    {% endfor %}
                
                {% elif user_answer.question.question_type == 'multiple_choice' %}
                <p class="mb-2"><strong>{{ user_answer.question.multiplechoicequestion.question_text }}</strong></p>
                    {% for option in user_answer.question.multiplechoicequestion.options.all %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="option_{{ user_answer.question.id }}_{{ option.id }}" value="{{ option.option_text }}"
                                {% if option.option_text in user_answer.selected_answer %}checked{% endif %} class="custom-control-input" disabled>
                            <label class="custom-control-label
                                {% if option.option_text in user_answer.selected_answer and option.is_correct %} text-success
                                {% elif option.option_text in user_answer.selected_answer %} text-danger
                                {% elif option.is_correct %} text-success
                                {% endif %}"
                                for="option_{{ user_answer.question.id }}_{{ option.id }}">{{ option.option_text }}</label>
                        </div>
                    {% endfor %}
                
                    {% elif user_answer.question.question_type == 'drag_and_drop' %}
                        <p class="mb-2"><strong>{{ user_answer.question.draganddropquestion.question_text }}</strong></p>
                        <p class="mb-2"><strong>{{ user_answer.question.draganddropquestion.sentence_to_complete }}</strong></p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mt-3">
                                    <div class="card-body">
                                        <h6 class="card-title">Drag Options</h6>
                                        {% with drag_and_drop_options=drag_and_drop_options|get_item:user_answer.question.pk %}
                                            {% if drag_and_drop_options %}
                                                {% for option in drag_and_drop_options %}
                                                    {% if option.id|stringformat:"s" in user_answer.selected_answer %}
                                                        <p>{{ option.option_text }}</p>
                                                    {% else %}
                                                        <p>{{ option.option_text }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <p>No drag-and-drop options available for this question.</p>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% elif user_answer.question.question_type == 'dropdown' %}
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="mb-2"><strong>{{ user_answer.question.dropdownquestion.question_text }}</strong></p>
                                    <div class="card mt-3">
                                        <div class="card-body">
                                            <!-- Display all dropdown items in <select> elements -->
                                            {% with dropdown_options=drop_down_options|get_item:user_answer.question.pk %}
                                                {% if dropdown_options %}
                                                    {% for item_id, options in dropdown_options.items %}
                                                        <p><strong>Dropdown Field {{ item_id }}:</strong></p>
                                                        <select class="form-control mb-3">
                                                            {% for option_id, option in options.items %}
                                                            <option value="{{ option_id }}" 
                                                                {% if user_answer.selected_answer|get_item:item_id == option.option_text %}selected{% endif %}>
                                                                {{ option.option_text }}
                                                            </option>
                                                        {% endfor %}

                                                        </select>
                                                    {% endfor %}
                                                {% else %}
                                                    <p>No dropdown options available.</p>
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
    
                
                        {% if user_answer.question.question_type == 'single_choice' %}
                            {% if user_answer.is_correct %}
                                <div class="alert alert-success mt-3" role="alert">
                                    Correct Answer: {{ user_answer.selected_answer }}
                                </div>
                            {% else %}
                                <div class="alert alert-danger mt-3" role="alert">
                                    Your Answer: {{ user_answer.selected_answer }}<br>
                                    Correct Answer: 
                                    {% for option in user_answer.question.singlechoicequestion.options.all %}
                                        {% if option.is_correct %}
                                            {{ option.option_text }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if user_answer.question.question_type == 'multiple_choice' %}
                            {% if user_answer.is_correct %}
                                <div class="alert alert-success mt-3" role="alert">
                                    Correct Answers: 
                                    {% for option in user_answer.question.multiplechoicequestion.options.all %}
                                        {% if option.is_correct %}
                                            {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="alert alert-danger mt-3" role="alert">
                                    Your Answers: 
                                    {% for option in user_answer.question.multiplechoicequestion.options.all %}
                                        {% if option.option_text in user_answer.selected_answer %}
                                            {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                    Correct Answers: 
                                    {% for option in user_answer.question.multiplechoicequestion.options.all %}
                                        {% if option.is_correct %}
                                            {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if user_answer.question.question_type == 'drag_and_drop' %}
                            {% if user_answer.is_correct %}
                                <div class="alert alert-success mt-3" role="alert">
                                    Correct Answers: 
                                    {% with drag_and_drop_options=drag_and_drop_options|get_item:user_answer.question.pk %}
                                        {% if drag_and_drop_options %}
                                            {% for option in drag_and_drop_options %}
                                                {% if option.is_correct_position %}
                                                    {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            {% else %}
                                <div class="alert alert-danger mt-3" role="alert">
                                    Your Selected Options: 
                                    {% with drag_and_drop_options=drag_and_drop_options|get_item:user_answer.question.pk %}
                                        {% if drag_and_drop_options %}
                                            {% for option in drag_and_drop_options %}
                                                {% if option.id|stringformat:"s" in user_answer.selected_answer %}
                                                    {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    <br>
                                    Correct Answers: 
                                    {% with drag_and_drop_options=drag_and_drop_options|get_item:user_answer.question.pk %}
                                        {% if drag_and_drop_options %}
                                            {% for option in drag_and_drop_options %}
                                                {% if option.is_correct_position %}
                                                    {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            {% endif %}
                        {% endif %}
                        

                        {% if user_answer.question.question_type == 'dropdown' %}
                            {% if user_answer.is_correct %}
                                <div class="alert alert-success mt-3" role="alert">
                                    Correct Answers:
                                    {% with dropdown_options=drop_down_options|get_item:user_answer.question.pk %}
                                        {% if dropdown_options %}   
                                            {% for item_id, options in dropdown_options.items %}
                                                <p><strong>Dropdown Field {{ item_id }}:</strong>
                                                    {% for option_id, option in options.items %}
                                                        {% if option.is_correct %}
                                                            {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            {% else %}
                                <div class="alert alert-danger mt-3" role="alert">
                                    Your Selected Answers:
                                    {% with dropdown_options=drop_down_options|get_item:user_answer.question.pk %}
                                        {% if dropdown_options %}
                                            {% for item_id, options in dropdown_options.items %}
                                                <p><strong>Dropdown Field {{ item_id }}:</strong>
                                                    {% for option_id, option in options.items %}
                                                        {% if option.option_text == user_answer.selected_answer|get_item:item_id %}
                                                            {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    <br>
                                    Correct Answers:
                                    {% with dropdown_options=drop_down_options|get_item:user_answer.question.pk %}
                                        {% if dropdown_options %}
                                            {% for item_id, options in dropdown_options.items %}
                                                <p><strong>Dropdown Field {{ item_id }}:</strong>
                                                    {% for option_id, option in options.items %}
                                                        {% if option.is_correct %}
                                                            {{ option.option_text }}{% if not forloop.last %}, {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            {% endif %}
                        {% endif %}
   
                    

            </div>
        </div>
    </div>
    {% endfor %}

</div>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center justify-content-center">
                <h4 class="modal-title" id="resultModalLabel">Summary</h4>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-body">
                                <i class="fe fe-check text-success h5"></i>
                                <h6 class="mt-2">Correct Answers</h6>
                                <p class="h3">{{ total_correct_answers }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-body">
                                <i class="fe fe-chevrons-right text-warning h5"></i>
                                <h6 class="mt-2">Skipped Answers</h6>
                                <p class="h3">{{ total_skipped_answers }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-body">
                                <i class="bi bi-x-circle text-danger h5"></i>
                                <h6 class="mt-2">Wrong Answers</h6>
                                <p class="h3">{{ total_wrong_answers }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-body">
                                <i class="fe fe-dollar-sign text-primary h5"></i>
                                <h6 class="mt-2">Earned Points</h6>
                                <p class="h3">{{ total_points }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center justify-content-center">
                <button type="button" class="btn btn-success text-light px-5" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('#resultModal').modal('show');
    });
</script>
{% endblock %}
